<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Example</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/home/alex/Документы/HTML/css/styles.css">
</head>
<body>
	<header>
		<div class="navbar">
			<a href="#">Example</a>
		</div>
	</header>
	<main>
		<div class="container-main">
			<div class="header">
				<h1>
					Создание документов с использованием HTML
				</h1>
			</div>
			<div class="parag">
				<div class="parag-text">
					<p>
					Существует множество способов для создания документов,
					используя язык разметки гипертекста <span id="html">HTML</span>. Все они отличаются
					друг от друга лишь методами добавления тегов на страницу и
					редактированием её содержимого. Результат же, как правило, всегда
					выглядит примерно одинаково. Мы будем использовать
					классический способ для вёрстки - разметка гипертекста с помощью
					редакторов кода.
					</p>
				</div>
				
				<div class="parag-text-img-html">
					<img src="/home/alex/Документы/HTML/images/html5.png">
				</div>
			</div>
			<div class="header">
				<h1>
					План создания простого документа
				</h1>
			</div>
			<div class="parag">
				<div class="parag-list">
					<ul>
						<ol>1. Запустить любой удобный для Вас редактор кода;</ol>
						<ol>2. Написать следующий код:
						</ol>
						<div>
							<strong>
								<ol>&lt;HTML&gt;</ol>
								<ol>&lt;HEAD&gt;</ol>
								<ol>&lt;/HEAD&gt;</ol>
								<ol>&lt;BODY&gt;</ol>
								<ol>&lt;/BODY&gt;</ol>
								<ol>&lt;/HTML&gt;</ol>	
							</strong>
						</div>
						<ol>3. Наполнить блоки <strong>HEAD</strong> и <strong>BODY</strong> содержимым;</ol>
						<ol>4. Сохранить документ под именем index.html;</ol>
						<ol>5. Открыть получившийся файл с помощью браузера.</ol>
					</ul>
				</div>
			</div>
		</div>
	</main>
	<footer>
	</footer>
</body>
</html>